<h1>Showing Carmen's Artwork</h1>

<table class="artwork">
  <tr>
	<td class="main">
		<%= image_tag @artwork.avatar.url(:small) %>
	</td>
	<td class="sidebar round">
		<strong>Name: </strong>
		<%= @artwork.name %><br />
		<%= @artwork.art %><br />
	</td>
  </tr>
</table>

<% if signed_in? %>
<%= link_to "Edit", edit_artwork_path(@artwork) %> |
<%= link_to "Back to Artwork's Administration", artworks_path %>
<% else %>
<% if @artwork.art == 'painting' %><%= link_to "Back to Carmen's Paintings", paintings_path %><% end %>
<% if @artwork.art == 'drawing' %><%= link_to "Back to Carmen's Drawings", drawings_path %><% end %>
<% if @artwork.art == 'print' %><%= link_to "Back to Carmen's Prints", prints_path %><% end %>
<% if @artwork.art == 'tshirt' %><%= link_to "Back to Carmen's Objects", objects_path %><% end %>
<% if @artwork.art == 'object' %><%= link_to "Back to Carmen's Objects", objects_path %><% end %>
<% end %>
