<h1>Showing Carmen's Artwork</h1>

<table class="artwork">
  <tr>
	<td class="main">
		<%= image_tag @artwork.avatar.url(:small) %>
		<% unless @artwork.microposts.empty? %>
			<table class="microposts">
				<% @microposts.each do |micropost| %>
					<%= render micropost %>
				<% end %>
				<!--<%= render @microposts %>-->
			</table>
			<%= will_paginate @microposts %>
		<% end %>
	</td>
	<td class="sidebar round">
		<strong>Name: </strong>
		<%= @artwork.name %><br />
		<%= @artwork.art %><br />
		<br />
		<br />
		<br />
		<strong>Micropost </strong>
		<%= @artwork.microposts.count %><br />
		<%= link_to "New post for #{@artwork.name}", new_micropost_path %>
	</td>
  </tr>
</table>

<% if signed_in? %>
<%= link_to "Edit", edit_artwork_path(@artwork) %> |
<%= link_to "Back to Artwork's Administration", artworks_path %>
<% end %>
<% if !signed_in? %>
<% if @artwork.art == 'painting' %><%= link_to "Back to Carmen's Paintings", paintings_path %><% end %>
<% if @artwork.art == 'drawing' %><%= link_to "Back to Carmen's Drawings", drawings_path %><% end %>
<% if @artwork.art == 'print' %><%= link_to "Back to Carmen's Prints", prints_path %><% end %>
<% if @artwork.art == 'tshirt' %><%= link_to "Back to Carmen's Objects", objects_path %><% end %>
<% if @artwork.art == 'object' %><%= link_to "Back to Carmen's Objects", objects_path %><% end %>
<% end %>
