<h1>Carmen's Gallery Prints</h1>

<table>
  <tr>
    <th>Artwork</th>
	<th>Name</th>
	<th>Email</th>
    <th>Art</th>
    <th></th>
  </tr>

<% @artworks.each do |artwork| %>
  <tr class="artworks">
    <td><%= image_tag artwork.avatar.url(:thumb) %></td>
	<td><%= artwork.name %></td>
	<td><%= artwork.email %></td>
    <td><%= artwork.art %></td>
    <td><%= link_to 'Show', artwork %></td>
  </tr>
<% end %>
</table>
