<!--><tr class="microposts">
	<td class="main">
		<%= gravatar_for_micropost micropost %>
		<%= micropost.name %><br />
		<span class="content">
			<%= micropost.content %>
		</span> <br />
		<span class="timestamp">
			Posted <%= time_ago_in_words(micropost.created_at) %> ago.
		</span>
	</td>
	<% if signed_in? %>
	<td>
		<%= link_to "delete", micropost, :method => :delete, :confirm => "You sure?",
										 :title => "Delete post for #{$current_artwork.name}" %>
	</td>
	<% end %>
</tr>-->