<header>
	<nav class="round">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Statement", statement_path %></li>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Drawings", drawings_path %></li>
			<li><%= link_to "Paintings", paintings_path %></li>
			<li><%= link_to "Prints", prints_path %></li>
			<li><%= link_to "Objects", objects_path %></li>
		</ul>
	</nav>
	<br />
	<%= link_to logo, root_path %>
</header>