<header>
	<%= image_tag("Carmen.png", :alt => "Carmen's Gallery", :class => "round") %>
	<nav class="round">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Statement", statement_path %></li>
			<li><%= link_to "Drawings", drawings_path %></li>
			<li><%= link_to "Paintings", paintings_path %></li>
			<li><%= link_to "Prints", prints_path %></li>
			<li><%= link_to "T-Shirts", tshirts_path %></li>
		</ul>
	</nav>
</header>